@use "../../assets/sass/_variables.scss" as *;
.team-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.team-card {
    padding: 1em;
    border: solid 2px black;
    width: 300px;
    height: 400px;
    text-align: left;
    &__name {
        font-size: 2em;
    }&__role {
        font-size: 2em;
    }
}