@use "./assets/sass/_variables.scss" as *;
* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  background-image: $gradient-primary;
  color: $color-black;
  font-family: $font-primary;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}