@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=JetBrains+Mono&display=swap');
//--FONT
$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'JetBrains Mono', monospace;

//--COLOURS
$color-black: #2D3436;
$color-white: #FFFFFF;
$color-primary: #64019a;
$color-secondary: #f9f9db;
$colour-hover: #290e37;
$gradient-primary: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
